@portrait: ~'screen and (min-width: 768px)';
@landscape: ~'screen and (min-width: 992px)';
@desktop: ~'screen and (min-width: 1200px)';

.container {
  background-color: lightgray;
  width: 90% !important;
  height: 370px;
  padding-top: 5%;
  @media @portrait{
    margin-top: 12%;
    width: 75% !important;
    height: 330px;
  }
  @media @landscape{
     height: 400px;

  }
  @media @desktop{
    height: auto;
    margin-top: 4%;
  }
  .back{
    margin-top: -6%;
    @media @portrait{
      margin-top: -3%;
    }
    @media @landscape{
      margin-top: -2%;
    }
    @media @desktop{
      margin-top: -272px;
      margin-left: -10px;

    }
  }
  .Form{
    margin-left: 16%;

  @media @landscape{
    margin-top: 4%;
    h2 {
      font-size: 2.5em;
    }
    p{
      font-size: 1.3em;
    }
    form{
      margin-top: 5%;
    }
  }

    h2{
      @media @desktop {
        font-size: 2.9em;
      }
    }
      p{
        @media @desktop{
          font-size: 1.9em;
        }
      }

    }
  form{

    input{
      @media @landscape{
        height: 50px;

      }
      @media @desktop{
        height: 60px;

      }
    }
    @media @desktop{
      height: 250px;
    }
  }

}