@portrait: ~'screen and (min-width: 768px)';
@landscape: ~'screen and (min-width: 992px)';
@desktop: ~'screen and (min-width: 1200px)';
@xxl: ~'screen and (min-width: 1800px)';
.bg-image{
  display: none;
}
.LoginPara{
  width: 80%;
  margin: auto;
}
.loginForm{
  color: #131b58;
  width: 80%;
  margin: auto;
  .loginTitle{
    font-size: 2rem;
  }

  label{
    width: 100%;
  }
  label  input{
    width: 100%;
  }
  .loginSubmit{
    display: inline-flex;
    width: 100%;
    a{
      font-size: 1rem;
      margin-left: 5%;
      width: 100%;
    }
    button{
      background: #ff9400;
      width: 145px;
      height: 43px;
      position: relative;
      padding-right: 50%;
      border: 1px solid black;
      border-radius: unset;
      margin-bottom: 10px;
      color: #001135;
      font-weight: 700;
      @media @portrait{
     //   padding-top: 2.5%;
      }
      @media @landscape{
      //  padding-top: 1.8%;
        width: 200px;
        height: 45px;
      }
      @media @desktop{
    //    padding-top: 1.5%;
      }
      span {
        padding-top: 3.5%;
        position: absolute;
        right: 0;
        background-color: white;
        height: 100%;
        width: 24%;
        top: 0;
        font-size: 19px;
        color: #243259;
        font-weight: 700;
        @media @portrait{
            padding-top: 2.5%;
        }
      }
    }

  }
}
.loginContainer {
  z-index: 2;
  background: white;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .loginContainer{
    z-index: 2;
    width: 50%;
    margin: 60px auto;
    padding:10px 0 40px 0;
    box-shadow: 0px 10px 20px;
  }
  .loginForm label input {
    width: 80%;
  }

  .bg-image{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: block;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}




.check_box_container{
  border: 1px solid rgba(186, 217, 255, 0.25);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  @media @landscape{
    display: flex;

  }

}

.check_box_div{
  display: flex;
  label{
    width: 30px;
  }
  @media @landscape{
    margin: 0 10px;
    flex: 1;
    text-align: center;
    display: block;
    label{
      width: auto;
    }
    .CheckBox{
      margin-bottom: 10px;
    }
  }

  .CheckBox{
    margin-top: 6px;
    @media @landscape{
      width: 100%;
      height: 30px;
    }

  }
  input{

      width: 100px;
    
  }
}

.oldFiles{
  text-align: center;
  color: #131b58;
  width: 80%;
  margin: auto;
 // position: relative;
//  top: -500px;
  @media @portrait{
  //  top: -420px;
  }
  @media @landscape{
 //   top: -350px;
  }

 .loginForm;
  .one_file{
    display: inline-block;
    padding: 5px;
    margin: 5px;
  }

}

.highlight_check_div{
  width: 40%;
  .checkBox-label{
    width: auto !important;
  }
  input{
    margin-left: 10px;
  }
}

.oldFilesSpace{
  border: 1px solid rgba(186, 217, 255, 0.25);
  border-radius: 5px;
//  height: 170px;
  @media @portrait{
   // height: 100px;
  }
}
.FileName{
  overflow: auto;
  max-width: 175px;
}

