@portrait: ~'screen and (min-width: 768px)';
@landscape: ~'screen and (min-width: 992px)';
@desktop: ~'screen and (min-width: 1200px)';
@xxl: ~'screen and (min-width: 1800px)';
@background-color: #ebebeb;
html, body {
  height: 100%;
}
body {
  font-size: 1em;
  font-family: Arial;
  a{
    color: black !important;
    text-decoration: none !important;
    
  }
    a:hover{
      color: #000!important;
      font-weight: bold;
    }
}
.txt1{
  color: #9c9cb6;

}

.container-fluid {
  background-color: @background-color;
  margin: auto;
  overflow: hidden;

  .container {

    @media @landscape{
      height: 410px;
    }
    @media @desktop{
      height: auto;

    }

    .assets-con{

      border-bottom: 2.5px solid white;
      padding-bottom: 4%;
      .smaldate {
        padding: 10px 60px;
        display: block;
        @media @portrait{
        }
        @media @landscape{

        }

      }
      .btn-top{
        position: absolute;
        right: 0;
        bottom: 0px;
      }
      .contentheader {
        display: inline-flex;
        @media @portrait{
          width: 100%;
        }
        .infoimg {
          display: inline;
          width: 50px;
          height: 52px;
          margin-right: 10px;
          @media @portrait{
            width: 40px;
            height: 44px;
          }
          @media @landscape{
          }
          @media @desktop{

          }
        }
        h1 {

          @media @portrait{
            font-size: 1.8em;
          }
        }
      }
      .content {
        display: block;


        @media @portrait{
          position: relative;
          display: flex;
        }

        .content_imgs {
          position: relative;
          @media @portrait{
            margin-left: -2.2%;
          }
          @media @landscape{
            margin-left: -15px;

          }
          @media @desktop{
            margin-left: -15px;

          }

          .bluerect {
            height: 200px;
            width: 50px;
            float: left;
            @media @portrait{
              height: 270px;

            }
            @media @landscape{
              width: 70px;
            }
            @media @desktop{
              float: left;
            }

          }
          .content_img {
            height: 200px;
            width: 205px;
            @media @portrait{
              width: 250px;
              height: 270px;
            }
            @media @landscape{
              height: 270px;
              width: 275px;
            }
          }
        }
        .content_txt {
          @media @portrait{
            width: 100%;
            flex: 1;
            padding-left: 50px;

          }
          @media @landscape{
            padding-left: 50px;
            height: 130px;

          }
          .body-txt{
            word-wrap: break-word;
            width: 250px;
            @media @portrait{
              width: 350px;
            }
            @media @landscape{
              width: 450px;

            }
            @media @desktop{
              width: 630px;
            }
          }
          .btns {
            border-radius: unset;

            @media @portrait{
              margin-top: 1%;
            }

          }
          .btnD {
            background-color: #49b9e5;
            border: none;
            width: 145px;
            height: 43px;
            position: relative;
            padding-right: 25%;
            padding-top: 3%;
            @media @portrait{
           //   padding-top: 2.5%;
            }
            @media @landscape{
              width: 200px;
              height: 52px;
              font-size: 21px;
            }
            @media @desktop{
          //    padding-top: 1.3%;
            }
            span{
              position: absolute;
             right: 0;
              background-color: white;
              height: 43px;
              width: 24%;
               top: 0;
              font-size: 19px;
              color: #243259;
              font-weight: 700;
              padding-top: 3.5%;
              @media @landscape{
                height: 52px;
                font-size: 27px;
             //   padding-top: 2.5px;
              }
            }
          }
          .btnI {
            color: #243259;
            background-color: white;
            @media @landscape{
              height: 45px;
            }
          }
          .btns1 {
            border: none;
            background-color: transparent;
            @media @portrait{
            }
          }
          ul {
            list-style: none;
            padding: 0;
            @media @portrait{
            }
            @media @landscape{
              height: 54px;
            }
            @media @desktop{
              height: 50px;
            }
            li{
              .dot {
                font-size: 20px;
                color: #ff9400;
                position: relative;
                top: 1px;
              }
            }
          }
        }
      }
    }
  }
}


.container-fluid .container .assets-con:last-child{
 // background-color: red !important;
}
/*.content_hr {

 .category--1:last-child{
      .mr-desk:last-child{
        background-color: red !important;

      }
    };
}*/
.play-video{
  position: absolute;
  left: 46%;
  font-size: 73px;
  top: 31%;
  color: white;
  margin: 0;
  @media @portrait{
    font-size: 86px;
    left: 45%;
    top: 34%;

  }
  @media @landscape{
    top: 33%;
    left: 49%;
  }
  @media @desktop{
    left: 46%;
    font-size: 97px;
    top: 31%;
  }
}

.body-txt::-webkit-scrollbar {
  width: 2px;
}
.body-txt::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.body-txt::-webkit-scrollbar-thumb {
  background: #888;
}
.body-txt::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.blocks-1 {
  background-color: #743751;
}
.blocks-0 {
  background-color: #005493;
}
.blocks-2 {
  background-color: #ff9400;
  padding-left: 0;
  padding-right: 0;
}
.blocks-3 {
  background-color: #bd5200;
}
.blocks-4 {
  background-color: #929000;

}


.respon1{
  height:70px;
  padding-top: 7%;

}
.respon2{
  height:60px;

}

.respon3 {
  height: 50px;
  @media @portrait {

  }
}

div.blocks-0, div.blocks-1, div.blocks-2, div.blocks-3, div.blocks-4 {

  height: 110px;
  max-width: 20%;
  @media @portrait {
    height: 200px;

  }
}
@media (max-width: 767px) {
  div.rowresponsive {
    all: initial;
  }
  div.blocks-0, div.blocks-1, div.blocks-2, div.blocks-3, div.blocks-4 {

    display: flex;
    height: 100px;
    max-width: 100% !important;
    justify-content: space-between;
  }

  .respon3 {


    flex: 1;
  }
  .respon2 {
    width: 50px;
    flex: 2;
    margin-top: 4%;
  }
  .respon1 {
    flex: 1;
  }

  .respon3 {
    margin-top: 11%;

  }
}
//                                                     libary page                             / //

.inputAuthor{
  border-radius: unset !important;

  @media @portrait{
    width: 85% !important;
  }
  @media @landscape{
    width: 68% !important;
    margin-left: 27.5%;
  }
}
.btnTagsFlex{
  @media @portrait{
    display: inline-block;
    padding: 5px;
    width: 100%
  }
  @media @landscape{
    margin-left: 27%;
  }
  .btnTags{
    width: 100%;
    border: none !important;
    background-color: #bd5200 !important;
    @media @portrait{
      width: 28%;

    }
    @media @landscape{
      width: 23%;
    }
  }
}
.labelInput{
  @media @landscape{
    margin-left: 14.5%;
    position: relative;
    top:36px
  }
}
.labelTags{
  @media @landscape{
    margin-left: 15%;
    position: relative;
    top: 36px
  }
}

.content_hr_Libary{
  margin-top: 14% !important;
  @media @portrait{
    margin-top: 4% !important;
  }
}
//                                                                                     core Resources page                                                          //

.container-responsive{

  @media @desktop{
    display: block;
    justify-content: flex-start;
  }
}

.d-block{
  @media @landscape{
    display: flex !important;
  }
  @media @desktop{
    flex: 2;
    margin-top: auto;
    display: flex !important;
  }
}
div.purple1, div.purple2, div.purple3, div.purple4, div.purple5,div.orange1,div.orange2,div.orange3,div.orange4 {
  height: 70px;
  margin-bottom: 10px;
  @media @portrait{
    display: inline-block;
    height: 120px;
    width: 160px;
    float: left;
    padding:auto  0!important;
    margin: auto 0!important;
    text-align: center;
  }
  @media @desktop{
    height: 130px;
    flex: 1;

  }
}




.purple{

  @media @desktop{

  }
}



.purple1{
  .purple;
  background-color: #632e45;
}

.purple2{
  background-color: #743751;
  .purple;
}

.purple3{
  .purple;
  background-color: #d3c0c8 ;
}

.purple4{
  .purple;
  background-color: #b99ba8 ;
}

.purple5{
  .purple;
  background-color: #743751;
}
.orange1{

  background-color: #ec8900;
}
.orange2{
  background-color: #ff9400 ;
}
.orange3{
  background-color: #ffddaf ;
}
.orange4{
  background-color: #ffc97f ;
}
.purpleChange{
  .purple;
  background-color: #905f74 ;
}
.purple1:link{

}

.iconImgs{
  margin-top: 11%;
  height: 40px;
  width: 40%;
  @media @portrait{

  }
  @media @landscape{
    display: block;
    margin: 0 auto;
    margin-top:7%;
  }
  @media @desktop{
    margin-top: 15%;
  }
}

.iconTxt{
  margin-top: 7%;
  height: 50px;
  @media @landscape{
    text-align: center;
  }
}

.divsInfo{
  @media @desktop{
    display: flex;
  }
}
.txtPageCore{
  color: #9c9cb6;
  height: 25px;
  margin-top: 10px;
}
.divBlock0{
  @media @desktop{
    display: block;
    width: 300px;

  }
  p {
    word-wrap: break-word;
    @media @desktop{
      width: 95%;
    }
  }
}
.divBlockResponsive{
  width: 100%;
  @media @desktop{
    display: block;
  }
  p {
    word-wrap: break-word;

  }
}
divBlockResponsive
.divsTxt{
  @media @desktop{
    margin-left: 3%;


  }
}

.divArrow{
  display: none ;
  transform: rotate(90deg);
  font-size: 1.8em;
  margin-top: -13%;
  color: rgb(	116, 55, 81);
  @media @landscape{
    display: block;

  }
}


//                                                               core Rescources 2 ///
.divArrow2 {
  display: none;
  transform: rotate(90deg);
  font-size: 1.8em;
  margin-top: 28%;
  color: rgb(116, 55, 81);
  @media @landscape {
    display: block;
  }
}

.contentCR{

}

.btnsCR{
  @media @portrait{
    margin-top: -2% !important;
  }
}
.content_hrCR{
  margin-top: 17%;
  @media @portrait{
    margin-top: 2%;

  }
  @media @landscape{
    margin-top: 1%;

  }
}
.contentheaderCR{
  @media @landscape{
    margin-left: 0 ;
  }

}

.content_txtCR{
  margin-left: 0!important;
}

.name-page{
  font-size: 10px;
  color: white;
  vertical-align: center;
  @media @portrait{
    font-size: 13px;
  }
  @media @landscape{
    font-size: 14px;
  }

}

.secondBtn{
  @media  @desktop{
    margin-left: 20% !important;
  }
}

.spacial{

  position: relative;
  right: 20px;

}

.spacial{
  @media @desktop{
    position: relative;
    right: 0px;
  }
}

.flip{
  transform: rotate(180deg);
}

.container-fluid .container-mobile{

  display: flex;
  @media  (max-width: 768px) {
    all: unset !important;
  }


}
.Bluebar-1{
  background-color:  #005493;
}
.Bluebar-2{
  background-color:  #743751;
}
.Bluebar-3{
  background-color:  #ff9400;
}
.Bluebar-4{
  background-color:  #bd5200;
}
.Bluebar-5{
  background-color:  #929000;
}



.container-fluid{
  padding: 50px;
}

.language{
  background: red;
  width: 100px;
  height: 50px;
}

.container:nth-last-child(2) {
  .assets-con{
    border: none;
  }

}

.category--1{
  z-index: -1;
  &:last-child{
    background: red;
  }

  .btn-primary{
    color: #000!important;
  }

  rect{
    fill: #005493;
  }
  .highlighted{
    background: #005493;
    rect{
      fill: #ff9400!important;
    }
    hr{
      background:  #1d4c7b!important;
    }
    .btnD{
      background: #ff9400!important;
    }
    h1{
      color: white;
    }
    p{
      color: white;
    }
    li{
      color: white;
    }
    .smaldate{
      color: white;
    }
  }

}



.category--2{
  z-index: -1;
  .btn-primary{
    color: #000!important;
  }

  rect{
    fill: #743751;
  }

  .highlighted{
    background: #ff9400;

    hr{
      background:  #ff9400!important;
    }
    .btnD{
      background:  #743751!important;
    }
    h1{
      color: white;
    }
    p{
      color: white;
    }
    li{
      color: white;
    }
    .smaldate{
      color: white;
    }


  }
}

.buttons-div {


  @media @portrait{
    position: absolute;
    bottom: 0px;
    width: 50%;
    display: block;
  }
  @media @landscape{
    display: flex;
  }
  .btns1{
    color: white !important;
  }

}


.category--3 {

  z-index: -1;
  rect{
    fill:  #ff9400;
  }
}

.category--4 {
  z-index: -1;

  rect{
    fill:  #bd5200;
  }
}

.category--5 {
  z-index: -1;

  rect{
    fill:  #929000;
  }
}

.languageIcons{
  display: inline-flex;
  margin-left: 3%;
  padding-top: 10px;
  @media @desktop{

  }
  img{
    width: 30px;
    height: 30px;
    margin: auto 3px;
    @media @desktop{
      width: 37px;
      height: 37px;
      margin: auto 7px;
    }
  }
}


.navbar-parent {
  position: relative;
  .GrayBar{

    width: 100%;
    height: 60px;
    position: absolute;
    margin-top: 10px;
  }
  .navbar-child {
    position: relative;
    z-index: 2;
    padding: 0;

    .OneWord{
      background-color: white;
    }
  }

}
.file{
  opacity: 0.4;
}
.assets-con{
  margin: 25px auto;
  position: relative;

  @media @landscape {
    margin: 50px auto;
  }
}
.divPagination{
  position: absolute;
  bottom: 11px;
  left: 0;
  right: 0;
  margin: auto;

  .pagination {
    clear:both;
    width:75px;
    margin:25px auto 0;
    padding:0;
  }

  .pagination li {
    list-style:none;
    float:left;
    margin:0 9px;
  }

  .pagination li a {
    display:block;
    width:15px;
    height:15px;
    text-indent:-10000px;
    background: #999;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: inset 1px 1px 1px rgba(0, 0 ,0, 0.4);
  }

  .pagination li a.active {
    background: #668CFF;
  }

}

.languages {
  z-index: 100;
  display: inline-flex;
  width: 250px ;
  @media @portrait{
    display: -webkit-inline-box;
    width: auto;
  }
}
.chooseLang {
  margin-left: 10px;
}

.ChooseLang{
  padding: 15px 0 0 0;
}
/*
.buttons-div{
  display: inline-flex;
  width: 100%;
  @media @portrait{

  }
  p{
    padding: 17px 28px;
    margin-bottom: 0px;
  }
}

.languages{
    display: inline-flex;
  margin-top: 10%;
  @media @portrait{
    margin-top: 20%;
  }
  @media @landscape{
    position: absolute;
    right: 0;
    width: 53%;
    margin-top: 21.5%;
  }
  @media @desktop{
    top: 28.5%;
    right: 4%;
  }
}

.chooseLang{
  opacity: 0.5;
margin-left: 10px;
  @media @landscape{
    white-space: nowrap;
  }
  @media @desktop{
    font-size: 1.2em;

  }
  h5{
    @media @desktop{
      display: inline;
    }
  }
  @media @desktop{
    font-size: 1.2em;

  }
}
*/