.ForgetPasContainer {
  background-color: #d7efff;
  height: 100%;
  width: 100%;
  padding: 20% 10%;
}
@media screen and (min-width: 1200px) {
  .ForgetPasContainer {
    padding: 5% 20%;
  }
}
.ForgetPasContainer .back {
  margin-top: -6%;
}
@media screen and (min-width: 768px) {
  .ForgetPasContainer .back {
    margin-top: -3%;
  }
}
@media screen and (min-width: 992px) {
  .ForgetPasContainer .back {
    margin-top: -2%;
  }
}
@media screen and (min-width: 992px) {
  .ForgetPasContainer .Form {
    margin-top: 4%;
  }
  .ForgetPasContainer .Form h2 {
    font-size: 2.5em;
  }
  .ForgetPasContainer .Form p {
    font-size: 1.3em;
  }
  .ForgetPasContainer .Form form {
    margin-top: 5%;
  }
}
@media screen and (min-width: 1200px) {
  .ForgetPasContainer .Form h2 {
    font-size: 2.9em;
  }
}
@media screen and (min-width: 1200px) {
  .ForgetPasContainer .Form p {
    font-size: 1.9em;
  }
}
.ForgetPasContainer .Form button {
  width: 100%;
  margin-bottom: 5px;
}
@media screen and (min-width: 1200px) {
  .ForgetPasContainer .Form button {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 992px) {
  .ForgetPasContainer form input {
    height: 50px;
  }
}
