.container {
  background-color: lightgray;
  width: 90% !important;
  height: 370px;
  padding-top: 5%;
}
@media screen and (min-width: 768px) {
  .container {
    margin-top: 12%;
    width: 75% !important;
    height: 330px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    height: auto;
    margin-top: 4%;
  }
}
.container .back {
  margin-top: -6%;
}
@media screen and (min-width: 768px) {
  .container .back {
    margin-top: -3%;
  }
}
@media screen and (min-width: 992px) {
  .container .back {
    margin-top: -2%;
  }
}
@media screen and (min-width: 1200px) {
  .container .back {
    margin-top: -272px;
    margin-left: -10px;
  }
}
.container .Form {
  margin-left: 16%;
}
@media screen and (min-width: 992px) {
  .container .Form {
    margin-top: 4%;
  }
  .container .Form h2 {
    font-size: 2.5em;
  }
  .container .Form p {
    font-size: 1.3em;
  }
  .container .Form form {
    margin-top: 5%;
  }
}
@media screen and (min-width: 1200px) {
  .container .Form h2 {
    font-size: 2.9em;
  }
}
@media screen and (min-width: 1200px) {
  .container .Form p {
    font-size: 1.9em;
  }
}
@media screen and (min-width: 992px) {
  .container form input {
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .container form input {
    height: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .container form {
    height: 250px;
  }
}
