.bg-image {
  display: none;
}
.LoginPara {
  width: 80%;
  margin: auto;
}
.loginForm {
  color: #131b58;
  width: 80%;
  margin: auto;
}
.loginForm .loginTitle {
  font-size: 2rem;
}
.loginForm label {
  width: 100%;
}
.loginForm label input {
  width: 100%;
}
.loginForm .loginSubmit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}
.loginForm .loginSubmit a {
  font-size: 1rem;
  margin-left: 5%;
  width: 100%;
}
.loginForm .loginSubmit button {
  background: #ff9400;
  width: 145px;
  height: 43px;
  position: relative;
  padding-right: 50%;
  border: 1px solid black;
  border-radius: unset;
  margin-bottom: 10px;
  color: #001135;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  .loginForm .loginSubmit button {
    width: 200px;
    height: 45px;
  }
}
@media screen and (min-width: 1200px) {
}
.loginForm .loginSubmit button span {
  padding-top: 3.5%;
  position: absolute;
  right: 0;
  background-color: white;
  height: 100%;
  width: 24%;
  top: 0;
  font-size: 19px;
  color: #243259;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .loginForm .loginSubmit button span {
    padding-top: 2.5%;
  }
}
.loginContainer {
  z-index: 2;
  background: white;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .loginContainer {
    z-index: 2;
    width: 50%;
    margin: 60px auto;
    padding: 10px 0 40px 0;
    -webkit-box-shadow: 0px 10px 20px;
            box-shadow: 0px 10px 20px;
  }
  .loginForm label input {
    width: 80%;
  }
  .bg-image {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: block;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.check_box_container {
  border: 1px solid rgba(186, 217, 255, 0.25);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .check_box_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.check_box_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.check_box_div label {
  width: 30px;
}
@media screen and (min-width: 992px) {
  .check_box_div {
    margin: 0 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    display: block;
  }
  .check_box_div label {
    width: auto;
  }
  .check_box_div .CheckBox {
    margin-bottom: 10px;
  }
}
.check_box_div .CheckBox {
  margin-top: 6px;
}
@media screen and (min-width: 992px) {
  .check_box_div .CheckBox {
    width: 100%;
    height: 30px;
  }
}
.check_box_div input {
  width: 100px;
}
.oldFiles {
  text-align: center;
  color: #131b58;
  width: 80%;
  margin: auto;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
.oldFiles .loginTitle {
  font-size: 2rem;
}
.oldFiles label {
  width: 100%;
}
.oldFiles label input {
  width: 100%;
}
.oldFiles .loginSubmit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}
.oldFiles .loginSubmit a {
  font-size: 1rem;
  margin-left: 5%;
  width: 100%;
}
.oldFiles .loginSubmit button {
  background: #ff9400;
  width: 145px;
  height: 43px;
  position: relative;
  padding-right: 50%;
  border: 1px solid black;
  border-radius: unset;
  margin-bottom: 10px;
  color: #001135;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  .oldFiles .loginSubmit button {
    width: 200px;
    height: 45px;
  }
}
@media screen and (min-width: 1200px) {
}
.oldFiles .loginSubmit button span {
  padding-top: 3.5%;
  position: absolute;
  right: 0;
  background-color: white;
  height: 100%;
  width: 24%;
  top: 0;
  font-size: 19px;
  color: #243259;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .oldFiles .loginSubmit button span {
    padding-top: 2.5%;
  }
}
.oldFiles .one_file {
  display: inline-block;
  padding: 5px;
  margin: 5px;
}
.highlight_check_div {
  width: 40%;
}
.highlight_check_div .checkBox-label {
  width: auto !important;
}
.highlight_check_div input {
  margin-left: 10px;
}
.oldFilesSpace {
  border: 1px solid rgba(186, 217, 255, 0.25);
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
}
.FileName {
  overflow: auto;
  max-width: 175px;
}
