html,
body {
  height: 100%;
}
body {
  font-size: 1em;
  font-family: Arial;
}
.txt1 {
  color: #9c9cb6;
}
.container-fluid {
  background-color: #ebebeb;
  margin: auto;
  overflow: hidden;
}
.container-fluid .container {
  position: relative;
}
@media screen and (min-width: 992px) {
  .container-fluid .container {
    height: 410px;
  }
}
@media screen and (min-width: 1200px) {
  .container-fluid .container {
    height: auto;
  }
}
.container-fluid .container .smaldate {
  padding: 10px 60px;
  display: block;
}
.container-fluid .container .btn-top {
  position: absolute;
  right: 0;
  bottom: 0px;
}
.container-fluid .container .contentheader {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@media screen and (min-width: 768px) {
  .container-fluid .container .contentheader {
    width: 100%;
  }
}
.container-fluid .container .contentheader .infoimg {
  display: inline;
  width: 50px;
  height: 52px;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .container-fluid .container .contentheader .infoimg {
    width: 40px;
    height: 44px;
  }
}
@media screen and (min-width: 768px) {
  .container-fluid .container .contentheader h1 {
    font-size: 1.8em;
  }
}
.container-fluid .container .content {
  display: block;
}
@media screen and (min-width: 768px) {
  .container-fluid .container .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .container-fluid .container .content .content_imgs {
    margin-left: -2.2%;
  }
}
@media screen and (min-width: 992px) {
  .container-fluid .container .content .content_imgs {
    margin-left: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .container-fluid .container .content .content_imgs {
    margin-left: -15px;
  }
}
.container-fluid .container .content .content_imgs .bluerect {
  height: 200px;
  width: 50px;
  float: left;
}
@media screen and (min-width: 768px) {
  .container-fluid .container .content .content_imgs .bluerect {
    height: 270px;
  }
}
@media screen and (min-width: 992px) {
  .container-fluid .container .content .content_imgs .bluerect {
    width: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .container-fluid .container .content .content_imgs .bluerect {
    float: left;
  }
}
.container-fluid .container .content .content_imgs .content_img {
  height: 200px;
  width: 205px;
}
@media screen and (min-width: 768px) {
  .container-fluid .container .content .content_imgs .content_img {
    width: 250px;
    height: 270px;
  }
}
@media screen and (min-width: 992px) {
  .container-fluid .container .content .content_imgs .content_img {
    height: 270px;
    width: 275px;
  }
}
@media screen and (min-width: 768px) {
  .container-fluid .container .content .content_txt {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-left: 50px;
    position: relative;
  }
}
@media screen and (min-width: 992px) {
  .container-fluid .container .content .content_txt {
    padding-left: 50px;
  }
}
.container-fluid .container .content .content_txt .body-txt {
  word-wrap: break-word;
  width: 250px;
}
@media screen and (min-width: 768px) {
  .container-fluid .container .content .content_txt .body-txt {
    width: 350px;
  }
}
@media screen and (min-width: 992px) {
  .container-fluid .container .content .content_txt .body-txt {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .container-fluid .container .content .content_txt .body-txt {
    width: 630px;
  }
}
.container-fluid .container .content .content_txt .btns {
  border-radius: unset;
}
@media screen and (min-width: 768px) {
  .container-fluid .container .content .content_txt .btns {
    margin-top: 1%;
  }
}
.container-fluid .container .content .content_txt .btnD {
  background-color: #49b9e5;
  border: none;
  width: 145px;
  height: 43px;
  position: relative;
  padding-right: 29%;
  padding-top: 3%;
}
@media screen and (min-width: 768px) {
  .container-fluid .container .content .content_txt .btnD {
    padding-top: 2.5%;
  }
}
@media screen and (min-width: 992px) {
  .container-fluid .container .content .content_txt .btnD {
    padding-top: 1.8%;
    width: 200px;
    height: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .container-fluid .container .content .content_txt .btnD {
    padding-top: 1.5%;
  }
}
.container-fluid .container .content .content_txt .btnD span {
  position: absolute;
  right: 0;
  background-color: white;
  height: 43px;
  width: 24%;
  top: 0;
  font-size: 19px;
  color: #243259;
  font-weight: 700;
  padding-top: 3.5%;
}
@media screen and (min-width: 992px) {
  .container-fluid .container .content .content_txt .btnD span {
    height: 45px;
    padding-top: 2.5%;
  }
}
.container-fluid .container .content .content_txt .btnI {
  color: #243259;
  background-color: white;
}
@media screen and (min-width: 992px) {
  .container-fluid .container .content .content_txt .btnI {
    height: 45px;
  }
}
.container-fluid .container .content .content_txt .btns1 {
  border: none;
  background-color: transparent;
}
.container-fluid .container .content .content_txt ul {
  list-style: none;
  padding: 0;
}
@media screen and (min-width: 992px) {
  .container-fluid .container .content .content_txt ul {
    height: 54px;
  }
}
@media screen and (min-width: 1200px) {
  .container-fluid .container .content .content_txt ul {
    height: 50px;
  }
}
.container-fluid .container .content .content_txt ul li .dot {
  font-size: 20px;
  color: #ff9400;
  position: relative;
  top: 1px;
}
.body-txt::-webkit-scrollbar {
  width: 2px;
}
.body-txt::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.body-txt::-webkit-scrollbar-thumb {
  background: #888;
}
.body-txt::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.content_hr {
  margin-top: 26%;
  border: none;
  height: 2px;
  color: #333;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .content_hr {
    margin-top: 3%;
  }
}
.blocks-1 {
  background-color: #743751;
}
.blocks-0 {
  background-color: #005493;
}
.blocks-2 {
  background-color: #ff9400;
  padding-left: 0;
  padding-right: 0;
}
.blocks-3 {
  background-color: #bd5200;
}
.blocks-4 {
  background-color: #929000;
}
.respon1 {
  height: 70px;
  padding-top: 7%;
}
.respon2 {
  height: 60px;
}
.respon3 {
  height: 50px;
}
div.blocks-0,
div.blocks-1,
div.blocks-2,
div.blocks-3,
div.blocks-4 {
  height: 110px;
  max-width: 20%;
}
@media screen and (min-width: 768px) {
  div.blocks-0,
  div.blocks-1,
  div.blocks-2,
  div.blocks-3,
  div.blocks-4 {
    height: 200px;
  }
}
@media (max-width: 767px) {
  div.rowresponsive {
    all: initial;
  }
  div.blocks-0,
  div.blocks-1,
  div.blocks-2,
  div.blocks-3,
  div.blocks-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    max-width: 100% !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .respon3 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .respon2 {
    width: 50px;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-top: 4%;
  }
  .respon1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .respon3 {
    margin-top: 11%;
  }
}
.inputAuthor {
  border-radius: unset !important;
}
@media screen and (min-width: 768px) {
  .inputAuthor {
    width: 85% !important;
  }
}
@media screen and (min-width: 992px) {
  .inputAuthor {
    width: 68% !important;
    margin-left: 27.5%;
  }
}
@media screen and (min-width: 768px) {
  .btnTagsFlex {
    display: inline-block;
    padding: 5px;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .btnTagsFlex {
    margin-left: 27%;
  }
}
.btnTagsFlex .btnTags {
  width: 100%;
  border: none !important;
  background-color: #bd5200 !important;
}
@media screen and (min-width: 768px) {
  .btnTagsFlex .btnTags {
    width: 28%;
  }
}
@media screen and (min-width: 992px) {
  .btnTagsFlex .btnTags {
    width: 23%;
  }
}
@media screen and (min-width: 992px) {
  .labelInput {
    margin-left: 14.5%;
    position: relative;
    top: 36px;
  }
}
@media screen and (min-width: 992px) {
  .labelTags {
    margin-left: 15%;
    position: relative;
    top: 36px;
  }
}
.languages {
  margin-top: 10%;
}
@media screen and (min-width: 768px) {
  .languages {
    margin-top: 20%;
  }
}
@media screen and (min-width: 992px) {
  .languages {
    position: absolute;
    right: 0;
    width: 53%;
    margin-top: 21.5%;
  }
}
@media screen and (min-width: 1200px) {
  .languages {
    top: 28.5%;
    right: -13%;
  }
}
.languageIcons {
  margin-left: 3%;
}
.chooseLang {
  opacity: 0.5;
}
@media screen and (min-width: 992px) {
  .chooseLang {
    white-space: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  .chooseLang h5 {
    display: inline;
  }
}
.content_hr_Libary {
  margin-top: 14% !important;
}
@media screen and (min-width: 768px) {
  .content_hr_Libary {
    margin-top: 4% !important;
  }
}
@media screen and (min-width: 1200px) {
  .container-responsive {
    display: block;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 992px) {
  .d-block {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
@media screen and (min-width: 1200px) {
  .d-block {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-top: auto;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
div.purple1,
div.purple2,
div.purple3,
div.purple4,
div.purple5,
div.orange1,
div.orange2,
div.orange3,
div.orange4 {
  height: 70px;
}
@media screen and (min-width: 992px) {
  div.purple1,
  div.purple2,
  div.purple3,
  div.purple4,
  div.purple5,
  div.orange1,
  div.orange2,
  div.orange3,
  div.orange4 {
    display: inline-block;
    height: 120px;
    width: 20%;
    float: left;
    margin-left: 15px;
  }
}
@media screen and (min-width: 1200px) {
  div.purple1,
  div.purple2,
  div.purple3,
  div.purple4,
  div.purple5,
  div.orange1,
  div.orange2,
  div.orange3,
  div.orange4 {
    height: 130px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.purple1 {
  background-color: #ebebeb;
}
.purple2 {
  background-color: #743751;
}
.purple3 {
  background-color: #d3c0c8;
}
.purple4 {
  background-color: #b99ba8;
}
.purple5 {
  background-color: #743751;
}
.orange1 {
  background-color: #ebebeb;
}
.orange2 {
  background-color: #ff9400;
}
.orange3 {
  background-color: #ffddaf;
}
.orange4 {
  background-color: #ffc97f;
}
.purpleChange {
  background-color: #905f74;
}
.purple1:link {
  background-color: #d3c0c8;
}
.iconImgs {
  margin-top: 11%;
  margin-left: 16%;
  height: 40px;
  width: 40%;
}
@media screen and (min-width: 768px) {
  .iconImgs {
    margin-top: 4%;
    margin-left: 23%;
  }
}
@media screen and (min-width: 992px) {
  .iconImgs {
    display: block;
    margin: 0 auto;
    margin-top: 7%;
  }
}
@media screen and (min-width: 1200px) {
  .iconImgs {
    margin-top: 15%;
  }
}
.iconTxt {
  margin-top: 7%;
  height: 50px;
}
@media screen and (min-width: 992px) {
  .iconTxt {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .divsInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.txtPageCore {
  color: #9c9cb6;
  height: 25px;
  margin-top: 10px;
}
@media screen and (min-width: 1200px) {
  .divBlock {
    display: block;
  }
}
.divBlock p {
  word-wrap: break-word;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .divBlock p {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .divBlock p {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .divBlock p {
    width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .divsTxt {
    margin-left: 3%;
  }
}
.divArrow {
  display: none !important ;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 1.8em;
  margin-top: -13%;
  color: #743751;
}
@media screen and (min-width: 992px) {
  .divArrow {
    display: none;
  }
}
.divArrow2 {
  display: none;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 1.8em;
  margin-top: 28%;
  color: #743751;
}
@media screen and (min-width: 992px) {
  .divArrow2 {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .btnsCR {
    margin-top: -2% !important;
  }
}
.content_hrCR {
  margin-top: 17%;
}
@media screen and (min-width: 768px) {
  .content_hrCR {
    margin-top: 2%;
  }
}
@media screen and (min-width: 992px) {
  .content_hrCR {
    margin-top: 1%;
  }
}
@media screen and (min-width: 992px) {
  .contentheaderCR {
    margin-left: 0 ;
  }
}
.content_txtCR {
  margin-left: 0!important;
}
.name-page {
  font-size: 10px;
  color: white;
  vertical-align: center;
}
@media screen and (min-width: 768px) {
  .name-page {
    font-size: 13px;
  }
}
@media screen and (min-width: 992px) {
  .name-page {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .secondBtn {
    margin-left: 20% !important;
  }
}
.spacial {
  position: relative;
  right: 20px;
}
@media screen and (min-width: 1200px) {
  .spacial {
    position: relative;
    right: 0px;
  }
}
.flip {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.container-fluid .container-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .container-fluid .container-mobile {
    all: unset !important;
  }
}
.Bluebar-1 {
  background-color: #005493;
}
.Bluebar-2 {
  background-color: #743751;
}
.Bluebar-3 {
  background-color: #ff9400;
}
.Bluebar-4 {
  background-color: #bd5200;
}
.Bluebar-5 {
  background-color: #929000;
}
.container-fluid {
  padding: 50px;
}
.language {
  background: red;
  width: 100px;
  height: 50px;
}
.category--1 rect {
  fill: #005493;
}
.category--1 .highlighted {
  background: #005493;
}
.category--1 .highlighted rect {
  fill: #ff9400 !important;
}
.category--1 .highlighted hr {
  background: #1d4c7b !important;
}
.category--1 .highlighted .btnD {
  background: #ff9400 !important;
}
.category--1 .highlighted h1 {
  color: white;
}
.category--1 .highlighted p {
  color: white;
}
.category--1 .highlighted li {
  color: white;
}
.category--1 .highlighted .smaldate {
  color: white;
}
.category--2 rect {
  fill: #743751;
}
.category--2 .highlighted {
  background: #ff9400;
}
.category--2 .highlighted hr {
  background: #ff9400 !important;
}
.category--2 .highlighted .btnD {
  background: #743751 !important;
}
.category--2 .highlighted h1 {
  color: white;
}
.category--2 .highlighted p {
  color: white;
}
.category--2 .highlighted li {
  color: white;
}
.category--2 .highlighted .smaldate {
  color: white;
}
.category--2 .highlighted .buttons-div .btns1 {
  color: white !important;
}
.languageIcons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.languageIcons img {
  width: 30px;
  height: 30px;
  margin: auto 3px;
}
.buttons-div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .buttons-div {
    position: absolute ;
    bottom: 0;
  }
}
.buttons-div p {
  padding: 17px 28px;
  margin-bottom: 0px;
}
.navbar-parent {
  position: relative;
}
.navbar-parent .GrayBar {
  width: 100%;
  height: 60px;
  position: absolute;
  margin-top: 10px;
}
.navbar-parent .navbar-child {
  position: relative;
  z-index: 2;
  padding: 0;
}
.navbar-parent .navbar-child .OneWord {
  background-color: white;
}
.file {
  opacity: 0.4;
}
